<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>XYClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListAll</display-name>
    <servlet-name>ListAll</servlet-name>
    <servlet-class>com.zup.clientTest.controller.ListAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAll</servlet-name>
    <url-pattern>/ListAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPOIServlet</display-name>
    <servlet-name>InsertPOIServlet</servlet-name>
    <servlet-class>com.zup.clientTest.controller.InsertPOIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPOIServlet</servlet-name>
    <url-pattern>/InsertPOIServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListProximityServlet</display-name>
    <servlet-name>ListProximityServlet</servlet-name>
    <servlet-class>com.zup.clientTest.controller.ListProximityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListProximityServlet</servlet-name>
    <url-pattern>/ListProximityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teste</display-name>
    <servlet-name>Teste</servlet-name>
    <servlet-class>com.zup.clientTest.controller.Teste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teste</servlet-name>
    <url-pattern>/Teste</url-pattern>
  </servlet-mapping>
</web-app>